div.jsontag-config-label {
  padding-left: 20px;
}

div.jsontag-config-label > a {
  font-weight: bold;
}

.jsontag-config-label.collapsed {
  background-image: url('arrow-right.png');
  background-repeat: no-repeat;
  background-position: center left;
}

.jsontag-config-label.expanded {
  background-image: url('arrow-down.png');
  background-repeat: no-repeat;
  background-position: center left;
}

table.jsontag-config-overview > tbody > tr > td:first-child {
  width: 60%;
}

table.jsontag-config-overview > tbody > tr > td {
  vertical-align: top;
}

table.jsontag-config-overview tbody div.indent {
  margin-left: 20px;
}

table.jsontag-config-overview tr.disabled > td:first-child a {
  color: #999;
}

div.jsontag-config-details {
  color: #666;
  margin-left: 20px;
}

div.jsontag-config-details p {
  margin: 0.75em 0;
}

div.jsontag-config-details div.inheritance {
  font-style: italic;
}

div.jsontag-config-details table.jsontag-value-summary {
  border: none;
  width: auto;
  margin: 0.75em 0;
}

div.jsontag-config-details table.jsontag-value-summary td {
  padding: 0 0.5em 0 0;
  color: #666;
}

div.jsontag-config-details table.jsontag-value-summary tr,
div.jsontag-config-details table.jsontag-value-summary tr td:last-child {
  background-color: transparent;
  border: none;
}

div.jsontag-config-details table.jsontag-value-summary tr td:first-child {
  font-weight: bold;
  padding-right: 2em;
}

/*div.jsontag-config-details ul {
  margin-left: 2em;
}

div.jsontag-config-details ul li {
  line-height: 105%;
}

div.jsontag-config-details > p {
  margin: 0.25em 0;
}*/
